alias rm="command rm -rf"
alias cp="command cp -R"
alias ls="command ls -lhH --color=auto"
alias lsa="ls -a"
alias mkdir="command mkdir -p"
alias df="command df -h --type btrfs --type ext4 --type ext3 --type ext2 --type vfat --type iso9660 --type xfs --type fuseblk"
alias du="command du -sh"
alias free="command free -h"
alias sort="command sort -h"
alias slnk="ln -s"
alias curl="command curl -fsSL"

alias dot="git -C ~"
alias hide-secrets="git secret hide -FPm"
alias reveal-secrets="git secret reveal -fP"

alias ns="nvidia-smi"
alias ps-owner="ps -o user= -p"

alias local-ip="hostname -I"
alias public-ip="curl http://checkip.amazonaws.com"

alias ipynb-to-md="jupyter nbconvert --to markdown"
alias ipynb-to-html="jupyter nbconvert --to html"
alias ipynb-to-pdf="jupyter nbconvert --to pdf"
