alias conda="micromamba"
alias d="docker"
alias g="git"
alias nv="nvidia-smi"
alias ps-owner="ps -o user= -p"

# Standard bash commands
alias rm="command rm -rf"
alias cp="command cp -R"
alias ls="command ls -lhHat --color=auto"
alias lsa="ls -a"
alias mkdir="command mkdir -p"
alias grep="command grep --color=auto"
alias df="command df -h --type btrfs --type ext4 --type ext3 --type ext2 --type vfat --type iso9660 --type xfs --type fuseblk"
alias du="command du -sh"
alias free="command free -h"
alias sort="command sort -h"
alias curl="command curl -fsSL"

# Network
if [[ "$(uname -s)" == 'Linux' ]]; then
    alias local-ip="hostname -I"
elif [[ "$(uname -s)" == 'Darwin' ]]; then
    alias local-ip="ipconfig getifaddr en0"
fi
alias public-ip="curl https://checkip.amazonaws.com"

alias ports="netstat -tulan"
