alias rm="command rm -rf"
alias cp="command cp -R"
alias ls="command ls -lhH --color=auto"
alias mkdir="command mkdir -p"
alias symlink="command ln -s"
alias df="command df -h --type btrfs --type ext4 --type ext3 --type ext2 --type vfat --type iso9660 --type xfs --type fuseblk"
alias du="command du -h"
alias free="command free -h"
alias sort="command sort -h"

alias ns="nvidia-smi"
alias ps-owner="ps -o user= -p"

alias local-ip="hostname -I"
alias public-ip="curl http://checkip.amazonaws.com"

alias ipynb-to-md="jupyter nbconvert --to markdown"
alias ipynb-to-html="jupyter nbconvert --to html"
alias ipynb-to-pdf="jupyter nbconvert --to pdf"
