*
!/.**

# GPG & SSH

/.gnupg/
!/.gnupg/gpg.conf
!/.gnupg/pubring.kbx

/.ssh
!/.ssh/config
!/.ssh/id_*.pub
!/.ssh/authorized_keys2

## .local

/.local/share
/.local/miniconda3

# Common dotfiles

/.ai2thor/
/.bash_history
/.bash_logout
/.bashrc
/.bash_sessions/
/.cache/
/.CFUserTextEncoding
/.conda/environments.txt
/.config/
/.DS_Store
/.docker/
/.git-credentials
/.huggingface/
/.lesshst
/.matplotlib/
/.nv/
/.profile
/.python_history
/.sudo_as_admin_successful
/.viminfo
/.vscode/
/.vscode-server/
/.wget-hsts
/.zsh/oh-my-zsh/
/.zcompdump-*
/.zsh_history
/.zsh_sessions/

# Git secrets

!/.gitsecret
/.gitsecret/keys/random_seed
/.gitsecret/keys/*~
/.gitsecret/keys/tofu.db
!**.secret
.aws/credentials
/.secrets/
