*
!/.**

# GPG & SSH

/.gnupg/
!/.gnupg/gpg.conf

/.ssh
!/.ssh/config
!/.ssh/id_*.pub
!/.ssh/authorized_keys2

## .local

/.local/share
/.local/miniconda3

# Common dotfiles
/.ai2thor/
/.bash_history
/.bash_logout
/.bashrc
/.cache/
/.conda/environments.txt
/.config/
/.git-credentials
/.huggingface/
/.nv/
/.profile
/.python_history
/.sudo_as_admin_successful
/.vscode-server/
/.wget-hsts
/.zsh/oh-my-zsh/
/.zcompdump-*
/.zsh_history

# Git secrets

!/.gitsecret
/.gitsecret/keys/random_seed
/.gitsecret/keys/*~
!*.secret
