[user]
	name = apoorvkh
	email = mail@apoorvkh.com
	signingkey = E436428F4FBF9123
[init]
	defaultBranch = main
[core]
        excludesFile = ~/.gitignore_global
        editor = nano
        precomposeunicode = false
[pull]
        rebase = false
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[credential]
	helper = store
	