*
!/.*

/.bash*
/.git-credentials
/.profile
/.python_history
/.sudo_as_admin_successful
/.wget-hsts
/.zcompdump-*
/.zsh_history

!/.gitsecret
/.gitsecret/keys/random_seed
/.gitsecret/keys/*~
!*.secret
